

body{
    background: white;
    
    font-family:  Optima, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
/*
h3{
    background-color: rgb(253, 255, 121);
    border-style: solid;
    border-color: black;
    border-width: 3px;
}
*/
/* IMAGE BLOCK */
#picDiv {
    width: 600px;
    height: 600px;
    border: 0px solid #c3c3c3;
    display: flex;
    justify-content: center;
  }

  #images {
    align-self: center;
  }